extends public_base

block page_description
  meta(name="description", content="")

block page_meta
  meta(name="keywords", content="")
  #{super()}

block page_title
  | import random
  #{super()}

block page_head
  //- social stuff such as open graph and twitter meta tags should 
  //- go here if site is public facing
  #{super()}

block page_content
  h2 List of pages
  ul
    if articles|length
      for article in articles
        li
          a(href="#{url_for('blog.article', path=article.slug)}")
            #{article.title}
    else
      li No blog entries

block page_scripts
  //- page scripts here

