extends articles

block page_description
  meta(name="description", content="")

block page_meta
  meta(name="keywords", content="")
  #{super()}

block page_title
  #{super()}
  | Index Page

block page_head
  //- social stuff such as open graph and twitter meta tags should 
  //- go here if site is public facing
  #{super()}

block page_content
  h2 #{article.title}
  #{article.content | safe}

block page_scripts
  //- page scripts here

