extends base

block page_meta
  #{super()}

block page_title
  #{super()} Login Required

block page_content
  form(method="post", role="form")
    #{form.csrf_token}
    #{form.username.label}
    #{form.username(placeholder="Username")}
    #{form.password.label}
    #{form.password(placeholder="Password")}
    input(type="submit", value="Login")
