extends base

block page_content
  h1 User Registration Form
  form(method="POST", role="form")
    #{form.csrf_token}
    #{form.username.label}
    #{form.username(required="required")}
    #{form.email.label}
    #{form.email(required="required")} 
    #{form.password.label}
    #{form.password(required="required")} 
    #{form.confirm.label}
    #{form.confirm(required="required")}
    button(type="submit")
      | Register New User
